{% extends "base.html" %}

{% block titulo %}
<title>Brew & Review - inicio</title>
{% endblock titulo %}

{% block contenido %}
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    {% if user.is_authenticated %}
                    <h1>Bienvenido/a a Brew & Review, {{user.first_name}}</h1>
                    <span class="subheading">El cafe esta pronto</span>
                    {% else %}
                    <h1>Bienvenido/a a Brew & Review</h1>
                    <span class="subheading">Inicia sesion para comenzar a reseñar</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<br>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        {% for articulo in articulos %}
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'ver_articulo' articulo.id %}">
                    <h2 class="post-title">{{ articulo.titulo }} </h2>
                    <h3 class="post-subtitle">{{ articulo.texto|safe |truncatewords:100 }}</h3>
                </a>
                <p class="post-meta">
                    por {{articulo.autor}}, {{articulo.fecha}} 
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4">
        {% endfor %}
        </div>
    </div>
</div>

{% endblock contenido %}

<header class="masthead" style="background-image: url('static/assets/img/cafe.jpeg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    {% if user.is_authenticated %}
                    <h1>Bienvenido/a a Brew & Review, {{user.first_name}}</h1>
                    <span class="subheading">El cafe esta pronto</span>
                    {% else %}
                    <h1>Bienvenido/a a Brew & Review</h1>
                    <span class="subheading">Inicia sesion para comenzar a reseñar</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>