{% extends "base.html" %}

{% block titulo %}
<title>Brew & Review - Articulos</title>
{% endblock titulo %}

{% block contenido %}
<h1>Brew & Review</h1>
<h3>Articulos:</h3>
<form action="{% url 'buscar_articulo' %}" method="post">
    {% csrf_token %}
    <input type="text" name="busqueda">
    <input type="submit" value="Buscar articulo">
</form>
<ul>
    {% for a in articulos%}
    <li>{{a}}</li>
    {%endfor%}
</ul>
<br>
<a href="{% url 'lista_articulos' %}">Ver todas</a>
<a href="{% url 'crear_articulo' %}">Escribir Articulo </a>
{% endblock contenido %}


