{% extends "base.html" %}

{% block titulo %}
<title>Brew & Review - Recetas</title>
{% endblock titulo %}

{% block contenido %}
<section>
 <div>
   <h1>Brew & Review</h1>
   <h3>Recetas:</h3>
   <br>
   <form action="{% url 'buscar_receta' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar receta">
    </form>
    <br>

   <table class="table">
     <tbody>
       <tr>
         <th>Nombre</th>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       {% for recetas in object_list %}
       <tr>
         <td>{{ recetas.nombre }}</td>
         <td>
           <a href="{% url 'ver_receta' recetas.id %}">Ver</a>
         </td>
         {% if recetas.creador == user %}
         <td>
           <a href="{% url 'editar_receta' recetas.id %}">Editar</a>
         </td>
         <td>
           <a href="{% url 'eliminar_receta' recetas.id %}">
             <i class="bi bi-trash"></i>
           </a>
         </td>
         {% endif %}
       </tr>
       {% endfor %}
     </tbody>
   </table>
   <br>
   <a href="{% url 'crear_receta' %}">Crear receta</a>
   <br>
 </div>
</section>
{% endblock contenido %}

    
