{% extends "base.html" %}

{% block titulo %}
<head>
    <title>Nueva Receta</title>
    {% load static %}
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>
{% endblock titulo %}

{% block contenido %}

<h1>{{ recetas.nombre }}</h1>
<div>{{ recetas.receta|safe }}</div>

<br>

<form method="post">
 {% csrf_token %}
 {{ form.as_p }}
 <input type="submit" value="Guardar" />
</form>

<br>
<a href="{% url 'lista_recetas' %}">Volver lista</a>

{% endblock contenido %}
